@use "../../../portal_base";

:host {
  button {
    @include portal_base.btn;
  }
}
.settings-content {
  width: 120px;
  height: 460px;

  &.transit {
    height: 290px;
  }

  @include portal_base.box;
}

