@use "styles/portal_base";

:host {
  button {
    @include portal_base.btn;
  }
}
.settings-content {
  width: 120px;
  height: 470px;

  &.transit {
    height: 290px;
  }
  &.hsys {
    width: 140px;
    height: 210px;

    line-height: 13px;
    font-size: 11px;
    .map-item {
      padding: 1px 0 0 4px;
      &.selected {
        background-color: #6699ff;
        color: white;
        &:hover {
          background-color: #336699;
          color: white;
        }
      }
      &:hover {
        background-color: #dddd;
        cursor: pointer;
      }
    }
  }

  @include portal_base.box;
}

