@mixin info-mxn {
  position: absolute;
  z-index: 2;
  top: 6px;
  section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @media (width <= 430px) {
      font-size: 6px;
    }
    @media (width > 430px) {
      font-size: 10px;
    }
  }
}

#person-info {
  @include info-mxn;
  width: 250px;
  left: 6px;
}

#transit-info {
  @include info-mxn;
  width: 220px;
  padding-right: 6px;
  text-align: right;
}

.test {
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: white;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

pre {
  font-family: "Roboto";
  font-size: 12px;
}

button {
  margin-right: 2px;
}

svg {
  position: relative;
  overflow: hidden;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
  }
}

::ng-deep .planets-angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
    fill: #225588;
  }
}

form {
  border: 1px solid #ccc;
  padding: 1em;

  &.entry-form {
    display: flex;
    flex-direction: column;

    .entry-body {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .entry-group {
        margin: 4px;

        label {
          color: #333;
          font-size: 11px;
          display: block;
          padding-left: 2px;
        }

        input {
          &.single {
            width: 80px;
          }

          &.double {
            width: 120px;
          }

          &.triple {
            width: 200px;
          }
        }
      }
    }

    .entry-footer {
      margin: 12px 0 0 4px;
      flex: 0 22px;
    }
  }
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
}
