pre {
    font-family: "Roboto";
    font-size: 12px;
}
button {
    margin-right: 2px;
  }
svg {
    position: relative;
    overflow: hidden;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}  
.angle {
    text {
        font-size: 7px !important;   
        text-anchor: middle;           
    }
} 
::ng-deep .planets-angle {
    text {
        font-size: 7px !important;   
        text-anchor: middle;  
        fill: #225588;         
    }
} 
form { 
    border: 1px solid #ccc;
    padding: 1em;
    &.entry-form {
        display: flex;
        flex-direction: column;
        .entry-body {
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .entry-group {            
                margin: 4px;
                label {
                    font-size: 10px;
                    display: block;
                }
                input {
                    &.single {
                        width: 80px;
                    }
                    &.double {
                        width: 120px;
                    }
                    &.triple {
                        width: 200px;
                    }
                }
            }
        }    
        .entry-footer {
            margin: 12px 0 0 4px;
            flex: 0 22px;
        }            
    }    
}
#container {
    display: flex;
    flex-direction: rows;
}
