@use "../portal_base" as portal;

@mixin info-mxn {
  position: absolute;
  z-index: 2;
  top: 6px;
  section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @media (width <= 430px) {
      font-size: 6px;
    }
    @media (width > 430px) {
      font-size: 10px;
    }
  }
}

#person-info {
  @include info-mxn;
  width: 250px;
  left: 6px;
  button {
    @include portal.btn;
    margin-right: 0;
  }
}

#transit-info {
  @include info-mxn;
  width: 220px;
  padding-right: 6px;
  text-align: right;
  button {
    @include portal.btn;
    margin-right: 0;
  }
}

.test {
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: white;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

pre {
  font-family: "Roboto", sans-serif, monospace;
  font-size: 12px;
}

button {
  margin-right: 2px;
}

svg {
  position: relative;
  overflow: hidden;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
  }
}

::ng-deep .planets-angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
    fill: #225588;
  }
}

form {
  border: 1px solid #ccc;
  padding: 1em;

  &.entry-form {
    display: flex;
    flex-direction: column;

    .entry-body {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .entry-group {
        margin: 4px;

        label {
          color: #333;
          font-size: 11px;
          display: block;
          padding-left: 2px;
        }

        input {
          &.single {
            width: 80px;
          }

          &.double {
            width: 120px;
          }

          &.triple {
            width: 200px;
          }
        }
      }
    }

    .entry-footer {
      margin: 12px 0 0 4px;
      flex: 0 22px;
    }
  }
}

#container {
  position: relative;

  .bot-panel {
    z-index: 2;
    position: absolute;
    height: 300px;
    margin-left: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    overflow: auto;
    color: #333;

    background: #fdedc8 url(/assets/noise.png);
    .una {
      text-align: center;
      display: block;
      line-height: 1px;
      height: 1px;
      background: #d3d07a;
      margin: 0;
      padding: 0;
      border: 0 none;
    }
    p {
      font-family: "Gafata", sans-serif;
      font-size: 0.9rem;
      line-height: 1;
      color: #376a57;
      margin: 0.5em;
      min-height: 2em;
      &::first-letter {
        background: #F4D132;
        font-family: 'Cinzel Decorative', serif;
        float: left;
        font-size: 1.4rem;
        color: #9a9740;
        line-height: 100%;
        margin-top: 0.33rem;
        margin-right: 0.33rem;
        border-radius: 50%;
        text-shadow: 1px 1px 0 #fff;
        box-shadow: 0 0 0 5px #e5e5e5;
      }
    }
  }
}

