:host {
  flex: 1;
  display: flex;

  .login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    .login-wrapper {
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      width: 800px;
      height: 450px;
      background: url(/assets/login-bg.png) no-repeat top left #000;
      background-size: 800px;
      .error-panel {
        position: absolute;
        top: 45px;
        right: 70px;
        width: 300px;
        height: 64px;
        background-color: #DC143Ccc;
        color: gold;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #3333;
        padding: 8px;
        font-size: 13px;
      }
      .login-panel {
        position: absolute;
        top: 120px;
        right: 70px;
        width: 300px;
        height: 153px;
        //background: #fffd;
        background: #fdedc8 url(/assets/noise.png);
        border: 1px solid #3335;
        border-radius: 15px;
        box-shadow: 3px 3px 5px #3333;
      }

      .login-footer {
        flex: 0 32;
        text-align: center;
        padding: 4px;
      }
    }
  }
}
