@use "../../../styles/portal_base" as portal;

@mixin gafata-regular {
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin info-mxn {
  position: absolute;
  z-index: 2;
  top: 6px;
  section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @media (width <= 430px) {
      font-size: 6px;
    }
    @media (width > 430px) {
      font-size: 10px;
    }
  }
}

:host {

  flex: 1;
  display: flex;

  .astralka-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: black;

    form {
      background-color: white;
    }
  }

}

#person-info {
  @include info-mxn;
  width: 250px;
  left: 6px;
  section:not(:first-child) {
    margin-top: 2px;
  }
  button {
    @include portal.btn;
    margin-right: 0;
  }
}

#transit-info {
  @include info-mxn;
  width: 220px;
  padding-right: 6px;
  text-align: right;
  section:not(:first-child) {
    margin-top: 2px;
  }
  margin-right: 4px;
  button {
    @include portal.btn;
    margin-right: 0;
  }
}

.test {
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: white;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

pre {
  font-family: "Roboto", sans-serif, monospace;
  font-size: 12px;
}

button {
  margin-right: 2px;
}

svg {
  position: relative;
  overflow: hidden;

  .segment-label {
    font-size: 16px;
    @include gafata-regular;
    fill: #dca72266;
    stroke: #dca72233;
    font-weight: 600;
  }
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
  }
}

::ng-deep .planets-angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
    fill: #225588;
  }
}

form {
  border: 1px solid #ccc;
  padding: 1em;

  &.entry-form {
    display: flex;
    flex-direction: column;

    .entry-body {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .entry-group {
        margin: 4px;

        label {
          color: #333;
          font-size: 11px;
          display: block;
          padding-left: 2px;
        }

        input {
          &.single {
            width: 80px;
          }

          &.double {
            width: 120px;
          }

          &.triple {
            width: 200px;
          }
        }
      }
    }

    .entry-footer {
      margin: 12px 0 0 4px;
      flex: 0 22px;
    }
  }
}

#container {
  position: relative;
  .bot-panel {
    z-index: 2;
    position: absolute;
    height: 400px;
    margin-left: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    background: #fdedc8 url(/assets/noise.png);

    .bot-panel-handler {
      position: relative;
      width: 100%;
      height: 21px;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAQAAAClM0ndAAAAhklEQVR4AdXO0QrCMBBE0bttkk38/w8WRERpdyjzVOc+HxhIHqJGMQcFFkpYRQotLLSw0IJ5aBdovruMYDA/kT8plF9ZKLFQcgF18hDj1SbQOMlCA4kao0iiXmah7qBWPdxpohsgVZyj7e5I9KcID+EhiDI5gxBYKLBQYKHAQoGFAoEks/YEGHYKB7hFxf0AAAAASUVORK5CYII=') repeat-x scroll left top #baa973;
      border-radius: 10px 10px 0 0;
      text-align: center;
      @include gafata-regular;
      font-size: 1rem;
      color: white;
      text-shadow: 1px 1px 1px #3333;
    }

    .bot-panel-content {
      flex: 1;
      padding: 4px;
      overflow: auto;

      .una {
        text-align: center;
        display: block;
        line-height: 1px;
        height: 1px;
        background: #d3d07a;
        margin: 0;
        padding: 0;
        border: 0 none;
      }
      p {
        font-family: "Gafata", sans-serif;
        font-size: 0.8rem;
        line-height: 1;
        color: #376a57;
        margin: 0.5em;
        min-height: 2em;
        &::first-letter {
          background: #F4D132;
          font-family: 'Cinzel Decorative', serif;
          float: left;
          font-size: 1.2rem;
          color: #9a9740;
          line-height: 100%;
          margin-top: 0.33rem;
          margin-right: 0.5rem;
          border-radius: 50%;
          text-shadow: 1px 1px 0 #fff;
          box-shadow: 0 0 0 5px #e5e5e5;
        }
      }
    }
  }
}

