@import '@angular/cdk/overlay-prebuilt.css';
@import 'styles/fonts';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

svg text {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.dd {
  width: 260px;
  height: 260px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  box-shadow: 2px 2px 2px #3333;

  .pub:not(.pub ~ .pub) {
    border-top: 1px solid #336699;
  }

  .dd-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }
}

@import "styles/form";
