@import '@angular/cdk/overlay-prebuilt.css';
@import '_fonts.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

svg text {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.dd {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: small;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid black;

  .dd-item {
    padding: 4px;
  }
}


